.card {
  border: 1px solid var(--gray-100);

  &-header {
    background-color: transparent;
    border: 0;
    box-shadow: inset 0 2px 0 var(--primary);
    color: var(--primary);
    font-size: 1.65rem;
    font-weight: 200;
    letter-spacing: -1px;
    padding: 1.25rem;

    i {
      font-size: 1.5rem;
      opacity: 0.75;
    }

    &:first-child {
      border-radius: 0;
    }
  }

  &-body {
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
  }

  .dt-buttons,
  .dataTables_info {
    margin-left: 1.25rem;
  }

  .dataTables_filter {
    margin-right: 1.25rem;
  }
}

div.dataTables_wrapper div.dataTables_paginate.dataTables_paginate {
  margin-right: 1.25rem;
}
