.table {
  border-radius: 4px;
  color: var(--gray-800);

  thead {
    th {
      background-color: #fff;
      border: 0;
      border-bottom: 1px solid var(--primary-45);
      color: var(--primary);
      font-size: 14px;
      font-weight: 600;
      padding: 0.65rem 0.45rem;

      &:focus {
        outline: 1px solid var(--primary);
      }

      &:first-child {
        padding-left: 1.25rem;
      }
    }
  }

  tbody {
    tr {
      transition: background-color ease 0.2s;

      &:hover {
        background-color: rgba($primary, 6%);
        cursor: pointer;
      }

      &:first-child td {
        border-top: 0;
      }

      &:last-child td {
        border-bottom: 1px solid var(--gray-100);
      }
    }

    td {
      font-family: 'Work Sans', sans-serif;
      padding: 0.75rem 1.25rem;
      font-size: 0.85rem;
      font-weight: 300;

      &:first-child {
        padding-left: 1.25rem;
      }

      @include media-breakpoint-down(md) {
        font-size: 12px;
      }

      img {
        max-width: initial;
        object-fit: contain;
        max-height: 45px;
      }
    }
  }

  th, td {
    border-top: 1px solid var(--gray-100);
    vertical-align: middle;
    text-align: center;

    &:first-child {
      text-align: left;
    }
  }

  .table-actions {
    .btn {
      color: var(--gray-600);
    }
  }
}
