body {
  background-color: #fbfaf9;
  color: #373738;
}

a,
a:link,
a:visited,
a:active {
  text-decoration: none;
}

a {
  color: var(--blue);
  transition: color ease 0.25s;

  &:hover {
    color: lighten($blue, 10%);
  }
}

.main {
  background-color: #fbfaf9;

  .container-fluid {
    padding: 30px;
  }
}

html:not([dir=rtl]) .sidebar-lg-show.sidebar-fixed .main {
  margin-left: $sidebar-width;
}

::selection {
  background-color: rgba($primary, 10%);
}
